#  Ignore the images directory and everything inside it
images/
images/**

# Ignore PDF files
**/*.pdf

# Ignore system and hosting files
.DS_Store
.netlify

# Ignore robots.txt
robots.txt
